In [94]:
import pandas as pd
from sqlalchemy import create_engine

In [95]:
economic_file = "economic2019.csv"
economic_df = pd.read_csv(economic_file)
economic_df

,country_name,region,world_rank,score,property_rights,judical_effectiveness,government_integrity,gov_spending,fiscal_health,business_freedom,...,corporate_tax,population,gdp_billions,gdp_growth,five_gdp_growth,gdp_capita,unemployment,inflation,fdi_inflow,public_debt
0,Afghanistan,Asia-Pacific,152.0,51.5,19.6,29.6,25.2,80.3,99.3,49.2,...,20.0,35.5,69.6,2.5,2.9,1958.0,8.8,5.0,53.9,7.3
1,Albania,Europe,52.0,66.5,54.8,30.6,40.4,73.9,80.6,69.3,...,15.0,2.9,36.0,3.9,2.5,12507.0,13.9,2.0,1119.1,71.2
2,Algeria,Middle East and North Africa,171.0,46.2,31.6,36.2,28.9,48.7,18.7,61.6,...,23.0,41.5,632.9,2.0,3.1,15237.0,10.0,5.6,1203.0,25.8
3,Angola,Sub-Saharan Africa,156.0,50.6,35.9,26.6,20.5,80.7,58.2,55.7,...,30.0,28.2,190.3,0.7,2.9,6753.0,8.2,31.7,-2254.5,65.3
4,Argentina,Americas,148.0,52.2,47.8,44.5,33.5,49.5,33.0,56.4,...,30.0,44.1,920.2,2.9,0.7,20876.0,8.7,25.7,11857.0,52.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,Venezuela,Americas,179.0,25.9,7.6,13.1,7.9,58.1,17.6,33.9,...,34.0,31.4,380.7,-14.0,-7.8,12114.0,7.7,1087.5,-68.0,34.9
182,Vietnam,Asia-Pacific,128.0,55.3,49.8,40.3,34.0,74.1,40.7,63.5,...,22.0,93.6,647.4,6.8,6.2,6913.0,2.1,3.5,14100.0,58.2
183,Yemen,Middle East and North Africa,NaN,NaN,19.6,22.2,20.3,83.7,0.0,45.1,...,NaN,30.0,38.6,-13.8,-16.1,1287.0,14.0,4.9,-269.9,141.0
184,Zambia,Sub-Saharan Africa,138.0,53.6,45.0,35.6,32.3,80.1,12.3,71.1,...,35.0,17.2,68.9,3.6,4.0,3996.0,7.8,6.6,1091.2,62.2
185,Zimbabwe,Sub-Saharan Africa,175.0,40.4,29.7,24.8,15.8,74.5,23.7,33.4,...,25.0,14.9,34.0,3.0,2.6,2283.0,5.0,1.3,289.4,78.4

In [96]:
happy_file = "happy2019.csv"
happy_df = pd.read_csv(happy_file)
happy_df.head()

,overall_rank,country,score,gdp_capita,social_support,healthy_expectancy,freedom_choices,generosity,perceptions_corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [97]:
connection_string = "postgres:postgres@localhost:5432/felicidad2019"
engine = create_engine(f'postgresql://{connection_string}')

In [98]:
economic_df.to_sql(name='economic', con=engine, if_exists='append', index=True)

In [99]:
happy_df.to_sql(name='happy', con=engine, if_exists='append', index=True)